prefix=/usr
libdir=${prefix}/lib/${LIB_ARCH}/angle
includedir=${prefix}/include/angle

Name: angle
Description: A conformant OpenGL ES implementation for Windows, Mac, Linux, iOS and Android.
URL: https://angleproject.org/
Version: 7258
Libs: -L${libdir} -lEGL -lGLESv2
Cflags: -I${includedir}

