#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

GN_EXTRA_ARGS = \
  is_official_build=true \
  is_component_build=true \
  is_debug=false \
  skia_use_dng_sdk=false \
  skia_use_wuffs=false \
  skia_use_zlib=true \
  skia_use_system_zlib=true \
  skia_use_harfbuzz=true \
  skia_use_vulkan=true \
  skia_use_fontconfig=true \
  skia_use_icu=true \
  skia_use_system_icu=true \
  extra_cflags=["-Wno-psabi"] \
  extra_cflags_cc=["-DSKCMS_API=__attribute__((visibility(\"default\")))"]

%:
	dh $@

override_dh_auto_configure:
	gn gen out --args='${GN_EXTRA_ARGS}'

override_dh_auto_build:
	ninja -C out :skia :modules

override_dh_install:
	dh_install
	
	install -d debian/skia/usr/lib/${DEB_TARGET_GNU_TYPE}/pkgconfig
	install -m 0644 skia.pc debian/skia/usr/lib/${DEB_TARGET_GNU_TYPE}/pkgconfig/skia.pc

  # Install libs
	for path in out/*.a out/*.so; do \
		install -m644 "$$path" debian/skia/usr/lib/${DEB_TARGET_GNU_TYPE}/; \
	done

	install -d debian/skia/usr/include/skia/modules

	# Install headers from include/
	find include -name '*.h' -exec sh -c \
		'install -Dm644 "$$0" "debian/skia/usr/include/skia/$${0#include/}"' {} \;

	# Install headers from modules/
	find modules -name '*.h' -exec sh -c \
		'install -Dm644 "$$0" "debian/skia/usr/include/skia/modules/$${0#modules/}"' {} \;

